main {
  width: 90%;
  margin: auto;
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h2{
  font-size: 2.5rem;
  margin-bottom: 0;
}